.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  padding: 100px 0 40px 0;
  text-align: center;
}

.bg{
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    display: block;
    position: fixed;
    z-index: -999;
    opacity: 0.8;
}

h1 {
  color: white;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 4em;
  margin: -10px 0;
}

h3 {
  color: white;
  padding-bottom: 20px;
  font-weight: 500;
}

.container {
  display: inline-block;
  color: white;
}